<footer>
  <div class="endereco">
    <h4>Nosso Endereço</h4>
    <p>Rua Dr. Ruy Barbosa, 278 - Vila Hortência, Sorocaba - SP, 18020-040</p><br/>
    <h4>Horário de Atendimento</h4>
    <p>Terça a domingo das 18h às 00h.</p>
  </div>
  <div class="redes">
    <h4>Siga a Pastelaria Nagata</h4>
    <ul>
      <li><a href="#"><img src="./assets/images/fb.png"/></a></li>
      <li><a href="#"><img src="./assets/images/insta.png"/></a></li>
      <li><a href="#"><img src="./assets/images/yt.png"/></a></li>
    </ul>
  </div>

</footer>