<div class="container-pedido">
  <header class="page-title">Pastelaria Nagata</header>
  <div class="container-sobre">
    <h4>A pastelaria Nagata é uma tradicional pastelaria de família japonesa, estabelecida em Sorocaba há mais de 10 anos.</h4>
    <h4>A mesma vende variados sabores de pastéis e uma grande diversidade de bebidas.</h4>
    <h4>Temos espaço interno para 80 pessoas e estacionamento para 30 carros e motos.</h4>
    <h5>Possui um menu especializado em pastéis veganos e vegetarianos, área para fumantes, rampas de acesso e banheiros adaptados
      para deficiêntes.</h5>
  </div>
  <div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.8094213695217!2d-47.45178168544364!3d-23.503372984711664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58a9e2fc15cc1%3A0xf3426746954410e9!2sRua+Dr.+Ruy+Barbosa%2C+278+-+Vila+Hort%C3%AAncia%2C+Sorocaba+-+SP%2C+18020-040!5e0!3m2!1spt-BR!2sbr!4v1497810439787"
      width="1200" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>