<div class="container-pedido">
  <header class="page-title">Entrada de Pedidos</header>
  <div class="container-pedido-body">
    <div class="pedido">
      <div class="pedido-section">
        <div class="pedido-section-header">
          <div class="pedido-section-title">
            <h2>Pedidos Prontos</h2>
          </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="pesquisa" placeholder="Digite o código do pedido">
                  <span class="input-group-btn">
                    <button class="btn btn-default disabled"  type="button">Pesquisar</button>
                </span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pedido-linha">
                  <button class="btn btn-default" (click)="atualizar()">Atualizar Pedidos</button>
                </div>
              </div>
            </div>
        </div>
        <div class="pedidos-container">
          <div class="card-pedido panel panel-default" *ngFor="let pedidoPronto of (pedidosProntos | pesquisa:pesquisa)">
            <div class="card-pedido-body">
              <div class="pedido-linha">
                <h5 class="numero-pedido">Pedido {{pedidoPronto._id}}</h5>
                <p class="pedido-status">{{pedidoPronto.etapa}}</p>
              </div>
              <div class="pedido-linha">
                <p>Cliente:</p>
                <p>{{pedidoPronto.clienteCPF}}</p>
              </div>
    
              <p class="pedido-descricao" *ngFor="let produtoPronto of pedidoPronto.pizza">
                <span>{{produtoPronto.quantidade}} </span>
                <span>{{produtoPronto.titulo}}</span>
              </p>

              <div class="pedido-linha">
                <p>Preço Total:</p>
                <p>{{pedidoPronto.precoTotal | currency:'BRL':true}}</p>

                <p class="item-pedido-preco" *ngIf="pedidoPronto.estaPago; else pendente">Pago</p>
                <ng-template #pendente>
                  <p class="item-pedido-preco">Pendente</p>
                </ng-template>

              </div>
            </div>
            <div class="pedido-linha">
              <button class="btn btn-default" (click)="rejeitar(lgModal,pedidoPronto)">Rejeitar</button>
              <button type="button" class="btn btn-default" (click)="salvarPronto(pedidoPronto)">A Caminho</button>
            </div>
          </div>
        </div>
        <p *ngIf="!possuiPedidosProntos()">Nenhum Pedido na Etapa Pronto</p>

      </div>
      <div class="pedido-section">
        <div class="pedido-section-header">
          <div class="pedido-section-title">
            <h2>Pedidos a Caminho</h2>
          </div>
        </div>
        <div class="pedidos-container">
          <div class="card-pedido panel panel-default" *ngFor="let pedidoEntrega of (pedidosEntrega | pesquisa:pesquisa)">
            <div class="card-pedido-body">
              <div class="pedido-linha">
                <h5 class="numero-pedido">Pedido {{pedidoEntrega._id}}</h5>
                <p class="pedido-status">{{pedidoEntrega.etapa}}</p>
              </div>
              <div class="pedido-linha">
                <p>Cliente:</p>
                <p>{{pedidoEntrega.clienteCPF}}</p>
              </div>

              <p class="pedido-descricao" *ngFor="let produtoEntrega of pedidoEntrega.pizza">
                <span>{{produtoEntrega.quantidade}} </span>
                <span>{{produtoEntrega.titulo}}</span>
              </p>

              <div class="pedido-linha">
                <p>Preço Total:</p>
                <p>{{pedidoEntrega.precoTotal | currency:'BRL':true}}</p>

                <select [(ngModel)]="pedidoEntrega.estaPago" (change)="onChange(pedidoEntrega._id, $event.target.value)"  name="sel2">
                    <option [value]="pagamento.dado" *ngFor="let pagamento of [{label:'Pago',dado:true},{label:'Pendente',dado:false}]">
                      {{pagamento.label}}
                    </option>
                </select>

              </div>
            </div>
            <div class="pedido-linha">
              <button class="btn btn-default" (click)="rejeitar(lgModal,produtoEntrega)">Rejeitar</button>
              <button type="button" class="btn btn-default" (click)="salvarEntrega(pedidoEntrega)">Finalizado</button>
            </div>
          </div>
        </div>

        <p *ngIf="!possuiPedidosEntrega()">Nenhum Pedido na Etapa A caminho</p>

      </div>
    </div>
  </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Porque deseja Rejeitar esse Pedido?</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="textArea">Digite o motivo da Recusa:</label>
        <textarea [(ngModel)]="pedidoRejeitado.motivoRejeicao" class="form-control" name="textArea"></textarea>
      </div>
      <div class="modal-fotter">
        <div class="modal-header">
          <button type="button" class="btn btn-danger pull-left" (click)="rejeitarPedido(lgModal)" aria-label="Close">
            Rejeitar
        </button>
          <button type="button" class="btn btn-warning pull-right" (click)="cancelar(lgModal)" aria-label="Close">
            Voltar
        </button>
        </div>
      </div>
    </div>
  </div>
</div>